---
import BaseLayout from '@layouts/BaseLayout.astro'
import MastHead from '@components/home/MastHead.astro'
import GetStarted from '@components/home/GetStarted.astro'
import Customize from '@components/home/Customize.astro'
import CSSVariables from '@components/home/CSSVariables.astro'
import { getConfig } from '@libs/config'

export function getStaticPaths() {
  return [
    {
      params: { brand: getConfig().brand }
    }
  ]
}
---

<BaseLayout>
  <MastHead />
  <div class="container-fluid container-max-width pt-scaled-medium pb-scaled-3xlarge bd-masthead-followup">
    <p class="mb-scaled-medium d-inline-flex flex-column flex-md-row align-items-start align-items-md-center">
      <span class="tag me-medium">New in v{getConfig().docs_version}</span>
      <span class="lead mt-scaled-small m-md-none">
        <a href={`/${getConfig().brand}/docs/${getConfig().docs_version}/components/breadcrumb`}>Breadcrumb</a>,
        <a href={`/${getConfig().brand}/docs/${getConfig().docs_version}/components/bullet-list`}>Bullet list</a>,
        <a href={`/${getConfig().brand}/docs/${getConfig().docs_version}/components/badges`}>Badges</a>, and
        <a href={`/${getConfig().brand}/docs/${getConfig().docs_version}/migration`}>many more</a>
      </span>
    </p>
    <GetStarted />
    <Customize />
    <CSSVariables />
  </div>
</BaseLayout>
