---
import { getVersionedDocsPath } from '@libs/path'
import { getTokenValue, type IDeclaration } from '@libs/sass-variables'
import { allTokens } from '@libs/sass-variables'

interface IColorToken {
  colorName: string
  lightValue: string
  darkValue: string
  backdropLight?: string
  backdropDark?: string
}

interface Props {
  tokenRegexp: RegExp
  colorPrefix: string
  getUsage?: (colorName: string, colorPrefix?: string) => string
  getStyle?: (colorName: string) => astroHTML.JSX.CSSProperties
}

const getCustomProp = (colorName: string, colorPrefix: string) =>
  `var(--bs${colorPrefix.replace('ouds', '').replaceAll('/', '-')}${colorName})`

const getBackground = (token: IColorToken, mode: string): astroHTML.JSX.CSSProperties =>
  mode === 'light'
    ? {
        backgroundColor: token.backdropLight ? token.backdropLight : token.lightValue
      }
    : {
        backgroundColor: token.backdropDark ? token.backdropDark : token.darkValue
      }

const { colorPrefix, tokenRegexp, getUsage = getCustomProp, getStyle = getBackground } = Astro.props

const getLightDarkValuesFor = (colorName: string) => {
  let token = `$ouds-color-${colorName}`
  if (colorName.includes('status') || colorName.includes('brand')) {
    token = `$ouds-color-surface-${colorName}`
  }
  return {
    backdropLight: getTokenValue(`${token}-light`),
    backdropDark: getTokenValue(`${token}-dark`)
  }
}

const matchAndGetValues = (colorToken: IDeclaration) => {
  const { colorName, backdropColorName } = colorToken.name.match(tokenRegexp)?.groups as {
    colorName: string
    backdropColorName?: string
  }

  return {
    lightValue: colorToken.compiledValue,
    darkValue: colorToken.name.endsWith('-light')
      ? getTokenValue(colorToken.name.replace(/-light$/, '-dark'))
      : colorToken.compiledValue,
    colorName,
    // add both dark and light colors of backdrop (this is for `content-on` tokens)
    ...(backdropColorName ? getLightDarkValuesFor(backdropColorName) : {})
  }
}
---

<div class="table-responsive mb-small">
  <table class="table">
    <thead>
      <tr>
        <th class="w-50" scope="column">{colorPrefix}</th>
        <th scope="column">Light mode</th>
        <th scope="column">Dark mode</th>
        <th scope="column">Usage</th>
      </tr>
    </thead>
    <tbody>
      {
        allTokens
          .filter((token) => tokenRegexp.test(token.name))
          .map(matchAndGetValues)
          .map((token: IColorToken) => (
            <tr class="align-middle">
              <td class="w-50" scope="row">
                <var>{token.colorName}</var>
              </td>
              <td>
                <div class="bg-primary ratio-21x9" data-bs-theme="light">
                  <figure
                    class="w-100 h-100 mb-none d-flex justify-content-center align-items-center"
                    style={getStyle(token, 'light')}
                    title={token.lightValue}
                  >
                    {token.backdropLight && (
                      <svg class="decorative-small-icon" aria-hidden="true" color={token.lightValue}>
                        <use
                          xlink:href={getVersionedDocsPath('/assets/img/ouds-web-sprite.svg#accessibility-vision')}
                        />
                      </svg>
                    )}
                    <figcaption class="visually-hidden">
                      <var>{token.lightValue}</var>
                    </figcaption>
                  </figure>
                </div>
              </td>
              <td>
                <div class="bg-primary ratio-21x9" data-bs-theme="dark">
                  <figure
                    class="w-100 h-100 mb-none d-flex justify-content-center align-items-center"
                    style={getStyle(token, 'dark')}
                    title={token.darkValue}
                  >
                    {token.backdropDark && (
                      <svg class="decorative-small-icon" aria-hidden="true" color={token.darkValue}>
                        <use
                          xlink:href={getVersionedDocsPath('/assets/img/ouds-web-sprite.svg#accessibility-vision')}
                        />
                      </svg>
                    )}
                    <figcaption class="visually-hidden">
                      <var>{token.darkValue}</var>
                    </figcaption>
                  </figure>
                </div>
              </td>
              <td class="w-25 user-select-all">
                <var>{getUsage(token.colorName, colorPrefix)}</var>
              </td>
            </tr>
          ))
      }
    </tbody>
  </table>
</div>
