---
import type { MarkdownHeading } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getConfig } from '@libs/config'
import type { LayoutOverridesHTMLAttributes } from '@libs/layout'
import { getSlug, processMarkdownToHtml } from '@libs/utils'
import { getVersionedDocsPath } from '@libs/path'
import BaseLayout from '@layouts/BaseLayout.astro'
import DocsSidebar from '@components/DocsSidebar.astro'
import TableOfContents from '@components/TableOfContents.astro'

interface Props {
  frontmatter: CollectionEntry<'docs'>['data']
  headings?: MarkdownHeading[]
  id: CollectionEntry<'docs'>['id']
}

const { frontmatter, headings, id } = Astro.props

// Extract the directory/section from the ID (format: "directory/filename.mdx")
const parentDirectory = id.includes('/') ? id.split('/')[0] : ''

const bodyProps: LayoutOverridesHTMLAttributes<'body'> = {}

if (frontmatter.toc) {
  bodyProps['data-bs-spy'] = 'scroll'
  bodyProps['data-bs-target'] = '#TableOfContents'
}
---

<BaseLayout {...Astro.props} layout="docs" overrides={{ body: bodyProps }}>
  <div slot="main" class="container-fluid container-max-width bd-gutter mt-lg my-md-2xl bd-layout">
    <aside class="bd-sidebar">
      <h1 id="docs-nav" class="visually-hidden">Docs navigation</h1>
      <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            data-bs-target="#bdSidebar"
            data-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Close"></button>
        </div>

        <div class="offcanvas-body">
          <DocsSidebar />
        </div>
      </div>
    </aside>

    <main class="bd-main order-1">
      <div class="bd-intro pt-sm ps-lg-sm">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
          <div class="mb-lg mb-md-none d-flex text-nowrap">
            {
              // This is needed because we want to show the badge if show_badge isn't present or is set to false
              frontmatter.added &&
                ((frontmatter.added.show_badge !== undefined && frontmatter.added.show_badge === true) ||
                  frontmatter.added.show_badge === undefined) && (
                  <p class="mb-none me-sm">
                    <span class="tag tag-sm">Added in v{frontmatter.added.version}</span>
                  </p>
                )
            }
            <a
              class="btn btn-default"
              href={`${getConfig().repo}/blob/v${getConfig().current_version}-ouds-web/site/src/content/docs/${id}`}
              title="View and edit this file on GitHub"
              target="_blank"
              rel="noopener"
            >
              View on GitHub
            </a>
          </div>
          <h1 class="bd-title mb-none" id="content">{frontmatter.title}</h1>
        </div>
        <div class="bd-subtitle mt-sm">
          {frontmatter.description && <Fragment set:html={processMarkdownToHtml(frontmatter.description)} />}
        </div>
      </div>

      {
        frontmatter.toc && headings && (
          <div class="bd-toc mt-lg mb-4xl my-lg-none mb-lg-4xl px-sm-2xs text-muted">
            <h2 class="mb-none" id="docs-toc">
              <button
                class="btn btn-default p-md-none mb-sm mb-md-none text-decoration-none bd-toc-toggle d-md-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#tocContents"
                aria-expanded="false"
                aria-controls="tocContents"
              >
                On this page
                <svg class="bi d-md-none ms-sm" aria-hidden="true">
                  <use xlink:href="#chevron-expand" />
                </svg>
              </button>
              <span class="d-none d-md-block h6 my-sm ms-lg">On this page</span>
            </h2>
            <hr class="d-none d-md-block my-sm ms-lg" />
            <div class="collapse bd-toc-collapse ms-md-xs" id="tocContents">
              <nav id="TableOfContents" aria-labelledby="docs-toc">
                <TableOfContents headings={headings} />
              </nav>
            </div>
          </div>
        )
      }

      <div class="bd-content ps-lg-sm">
        {
          frontmatter.sections && (
            <div class="row g-medium">
              {frontmatter.sections.map((section) => {
                return (
                  <div class="col-md-6">
                    <a
                      class="d-block text-decoration-none"
                      href={getVersionedDocsPath(
                        `${parentDirectory ? parentDirectory + '/' : ''}${getSlug(section.title)}/`
                      )}
                    >
                      <strong class="d-block h5 mb-none">{section.title}</strong>
                      <span class="text-default">{section.description}</span>
                    </a>
                  </div>
                )
              })}
            </div>
          )
        }

        <slot />
      </div>
    </main>
  </div>
</BaseLayout>
